<a href="https://colab.research.google.com/github/ramesitexp/DataScience_Zone/blob/main/Datascience_python_day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l=[1,2,3.4,'h',3+4j]

In [5]:
v=[1,3,4,'j',3+7j]

In [2]:
dict(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [6]:
dict(zip(l,v))

{1: 1, 2: 3, 3.4: 4, 'h': 'j', (3+4j): (3+7j)}

In [3]:
tuple(l)

(1, 2, 3.4, 'h', (3+4j))

In [4]:
set(l)

{(3+4j), 1, 2, 3.4, 'h'}

In [7]:
t=(1,2,3.2,'h',4+7j)

In [8]:
list(t)

[1, 2, 3.2, 'h', (4+7j)]

In [10]:
dict(zip(t,v))

{1: 1, 2: 3, 3.2: 4, 'h': 'j', (4+7j): (3+7j)}

In [12]:
s=set(t)

In [13]:
s

{(4+7j), 1, 2, 3.2, 'h'}

In [14]:
dict(zip(s,v))

{1: 1, 2: 3, 3.2: 4, 'h': 'j', (4+7j): (3+7j)}

In [15]:
list(s)

[1, 2, 3.2, 'h', (4+7j)]

In [16]:
s1="Ram"

In [17]:
list(s1)

['R', 'a', 'm']

In [18]:
tuple(s1)

('R', 'a', 'm')

In [19]:
set(s1)

{'R', 'a', 'm'}

In [20]:
m1=int(input('Enter your marks:'))

Enter your marks:90

In [21]:
m1=50
m2=55
m3=60
m4=75
total=m1+m2+m3+m4

In [23]:
if total>450:
    print('Grade A')
elif total<300 and total<450:
    print('Grade B')
elif total>250 and total<300:
    print('Grade C')
else:
    print('Fail')

Grade B

In [ ]:
pen=1- pencil =5 n/b=20
bill display
500 2% 1000 %5 500< no discount

In [50]:
pen=1
pencil=5
nbook=20
qpen=2
qpencil=20
qnbook=2

val=(pen*qpen)+(pencil*qpencil)+(nbook*qnbook)


if val>1000:
   discount=2
elif val>500 and val<1000:
    discount=5
else:
    discount=0

print('#'*20)
print("pen:",pen,",qty",qpen)
print("pencil",pencil,",qty",qpencil)
print("Notebook",nbook,",qty",qnbook)
print("Grand Total", val-(val*discount/100))
print('#'*20)

####################
pen: 1 ,qty 2
pencil 5 ,qty 20
Notebook 20 ,qty 2
Grand Total 142.0
####################

In [51]:
x=int(input("x:"))
y=int(input("y:"))

if x>0:
    if y>10:
        print("X&Y are True")
    else:
        print("y is false")
else:
    print('X is false')

x:10
y:4
y is false